<h2>零用金一覽</h2>
<%= link_to "上傳零用金單" , upload_pocket_cashes_path  , :class => "btn btn-primary" %>
<hr>
<% @pocket_cashes.each do |cash| %>
  <%= link_to cash.created_at.strftime( "%Y-%m-%d" ) , pocket_cash_path(cash) , :class => "btn btn-default" %>
<% end %>
