<h2>零用金明細</h2>
<%= link_to "上傳零用金明細表" , upload_pocket_cashes_path  , :class => "btn btn-primary" %>
<hr>
<h3>已上傳零用金明細</h3>

<table class="table">
  <thead>
    <tr>
      <th> 上傳時間 </th> 
      <th> 功能 </th>
    </tr>
  </thead>
  <tbody>
    <% @pocket_cashes.each do |cash| %>
      <tr>
        <td>
          <%= link_to cash.created_at.strftime( "%Y-%m-%d" ) , pocket_cash_path(cash) %>
        </td>
        <td>
          <%= link_to "刪除", pocket_cash_path( cash ) , :method => :delete , :data => { :confirm => "確定要刪除嗎？" } %>
      </tr>
    <% end %>    
  </tbody>
</table>