<h2>供應商資料表</h2>
<%= render_toolbtn( "上傳供應商資料" , upload_suppliers_path ) %>
<%= render_toolbtn( "新增供應商資料" , new_supplier_path ) %>

<div class="clearfix border"></div>

<% @suppliers.each do |supplier| %>
  <%= render_btn_container( supplier.company_brief_name , supplier_path( supplier ) ) %>
<% end %>